---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Policy Metrics">
  <h1>Contact</h1>

  <p class="lede">
    For enquiries about official statistics, national accounts, public accountability
    or applied research, please get in touch.
  </p>

  <p>
    Email:
    <a href="mailto:david@policymetrics.co.uk">
      david@policymetrics.co.uk
    </a>
  </p>
</Layout>